/* 
--- 01 TYPOGRAPHY SYSTEM
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS: 
Deafult: 400 
/ 500 / 600 / 700


- LINE HEIGHTS: 
Deafult: 1
Small 1.05
Medium 1.2
Paragraph deafult 1.15

- LETTER SPACING 
3px
-0,5px


--- 02 COLORS
- Primary (brand) : #e67e22
- Tints (darker): 
#cf711f
#fae5d3;

- Shades (lighter): 
#fdf2e9
#eb984e
#45260a
- Accents:
- Greys: 
#6f6f6f (lightest gray allowed on #fdf2e9)
#767676 (lightest gray allowed on #fff/white)
#555 
#333

--- 05 SHADOWS

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.07);


--- 06 Border-Radius
Deafult: 9px
12px
--- 07 Whitespace

*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* GENERAL COMPONENTS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

/* ********* Links and buttons ********** */

.logo-link:active,
.logo-link:hover {
  box-shadow: none;
  border: none;
}

.link:link,
.link:visited {
  color: #e67e22;
  display: inline-block;
  font-size: 2rem;
  padding-bottom: 2px;
  border-bottom: 1px currentColor solid;
  transition: all 0.3s;
}

.link:active,
.link:hover {
  color: #cf711f;
  border-bottom: 1px transparent solid;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;

  /* margin: 0 1rem; */
  border-radius: 9px;
  /* transition: background-color 0.2s; */
  transition: all 0.2s;
  border: none;
  /* Only for .btn */
  color: #fff;
  cursor: pointer;
  font-family: inherit;
}

.btn,
.btn--full:link,
.btn--full:visited {
  font-size: 2rem;
  font-weight: 600;
  background-color: #e67e22;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  font-size: 2rem;
  color: #555;
  background-color: #fff;
  /* border: 3px #fff solid; */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  /* color: #45260a; */
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #cf711f;
  letter-spacing: 3px;
}

/* Helper/Settings Classes */

.center-text {
  text-align: center;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

/* Grid template classes */

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 2.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* List */

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
